.card-movie {
    padding: 0.5rem;
    border: 1px solid var(--main-primary-orange);
    border-radius: 15px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.2) ;
    backdrop-filter: blur(14px);
    gap: 10px;
}
.card-movie a{
    text-decoration: none;
    color: var(--main-primary-white);
}
.card-movie:hover{
    background-color: #ff910057;
    backdrop-filter: blur(14px) alpha(0.3);
}
.card-movie:hover .card-text{
    color: var(--main-primary-white);
}
.card-movie__picture {
    min-width: 100px;
    max-width: 100%;
    cursor: pointer;
}
.card-movie__picture img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 500px;
}
.card-movie__content {
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.card-body {
    height: auto;
}
.card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.7rem;
    color: var(--main-primary-black);
}
.movies-genres-list {
    display: inline-flex;
    list-style: none;
    flex-wrap: nowrap;
}

.movie-genre {
    text-decoration: none;
    color: #000;
}
