.genre-container{
  color: var(--main-primary-white);
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 1rem;
}
.genre-movies {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 15px;
  justify-content: center;
}