.login-container {
  margin-top:3%;
  background-color: #ffffff;
  padding: 5%;
  border-radius: 2rem;
  box-shadow: 5px 5px #fa9500;
  
}
.login-container form {
  padding: 5%;
}
.login-container h2 h3 {
  text-align: center;
  align-content: center;
}
.login-container .row {
  align-content: center;
}
body {
  background-color: #eb6424;
}
.login-container .form-group {
  padding: 1rem;
}
.login-container .form-group input {
  border-radius: 0.5rem;
  border-color: transparent;
}
.login-container .form-group input:hover{
  border-bottom-color: #fa9500;
  border-bottom-width: 0.3rem;
}
.login-container .form-group input:focus{
  border-bottom-color: #fa9500;
  border-bottom-width: 0.3rem;
}
.login-container .form-group .btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  background-color: #eb6424;
  color: #fff;
  font-size: 1.5em;
  box-shadow: 3px 3px #fa9500;
}
.login-container .form-group .btnSubmit:hover{
  background-color: #fff;
  color:#fa9500;
  border-style: none;
  font-size: 1.5em;
  box-shadow: 3px 3px #eb6424;
}
.row {
  align-content: center;
  text-align: center;
}
.login-title {
  margin-top: 3%;
  align-content: center;
  text-align: center;
  color: #fff;
}
